.strip {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	z-index: 0;
	overflow: hidden;
	/* opacity: 0.5; */
}

.strip canvas {
	width: 100%;
	height: 100%;
	will-change: transform;
}

.led {
	display: inline-block;
	width: 16px;
	/*width: 1.60vw;*/
	height: 100%;
	/*height: 350px;*/
	/*height: 10px;*/
	margin-left: 1.5px;
	margin-right: 1.5px;
	/*margin-right: 0.3vw;*/
	border: 1px solid rgba(255,255,255,0.28);
	/*border: 1px solid rgba(255,255,255,0);*/
	transition: height 1s ease-in-out;

	/*filter: sepia(30%);*/
}

.strip:hover .led {
	/*height: 700px;*/
}
