/*
 * Effects Root View
 */

.effects {
	height: 100%;
	color: white;
	text-align: center;
}

/*
 * Effect Sets (master-detail editor)
 */

.effectSet ul {
	list-style: none;
	/* padding: 0em 0.5em; */
	padding: 0em 0em;
}

.effectSet ul ul {
	padding-bottom: 0.5em;
}

.effectSet svg {
	color: yellow;
	opacity: 0.9;
	line-height: 1em;
	/* margin-top: -5px; */
	margin-top: -0.2em;
}

.masterView {
	display: inline-block;
	width: 30%;
	height: 100%;
	overflow: scroll;
}

.detailView {
	display: inline-block;
	height: 100%;
	width: 70%;
	vertical-align: top;
	overflow: scroll;
}

.detailMobileNav {
	display: none;
}

@media(max-width: 640px) {
	.masterView, .detailView {
		width: 100%;
	}

	.effectSet[data-effect-selected] > .masterView {
		display: none;
	}

	.effectSet:not([data-effect-selected]) > .detailView {
		display: none;
	}

	.detailMobileNav {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: 10%;
		cursor: pointer;
	}

	.detailMobileNav:not(:hover) svg {
		/* color: white; */
		filter: drop-shadow(0px 0px 1px black);
	}

	.detailMobileNav + .effectType {
		display: inline-block;
		vertical-align: middle;
		width: 90% !important;
	}
}

/*
 * Effect List
 */

.effectListHeader {
	text-align: right;
	padding-bottom: 0.5em;
}

.effectListHeader button:not(:first-child) {
	margin-left: 0.25em;
}

.effectListHeader button svg {
	color: white;
} .effectListHeader button:hover svg {
	color: rgb(255, 210, 50);
}

.effectListItem {
	text-align: center;
	list-style: none;
	min-height: 2.5em;

	border-radius: 1px;
	background: rgba(0, 0, 0, 0.60);
} .effectListItem:not(:last-child) {
	margin-bottom: 0.5em;
}

.effectListItem:hover {
	background: rgba(0, 0, 0, 0.70);
} .effectListItem:hover > .effectToolbar {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.effectListItem.selected {
	background: rgba(0, 0, 0, 0.8);
} .effectListItem.selected > .effectToolbar {
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.disabledEffect:not(.selected) {
	opacity: 0.75;
} .disabledEffect .effectName {
	text-decoration: line-through;
}

.effectToolbar {
	line-height: 2.5em;
	padding: 0em 1em;
	background: rgba(0, 0, 0, 0.30);
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: relative;
	margin-bottom: 0.5em;
}

.effectToolbar .effectName {
	display: inline-block;
	/* width: 30%; */
	/* width: 70%; */
	text-align: left;
}

.effectToolbar .toolbarButtons {
	display: inline-block;
	display: none;
	width: 30%;
	text-align: right;
	padding: 0px 0px;
}

.effectToolbar .toolbarButtons button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 3.0em;
	line-height: 1em;
	border: none;
	/* border-right: 1px solid rgba(255, 255, 255, 0.3); */
	border-radius: none;
	min-width: 3em;

	background: none;
}

.toolbarButtons button:last-child {
	border-right-width: 0px;
}

/*
 * Effect Detail View
 */

.effectDetail {
	padding: 1em;
}

.effectDetail .effectType {
	width: 100%;
	text-align: center;
	text-align-last: center;
	/* background: none; */
	border: none;
	font-weight: bold;
	font-size: 1em;
	/* margin-bottom: 0.5em; */
}

.effectDetail .effectType option {
	background: rgba(0, 0, 0, 0.7);
	color: white;
}

.effectDetail .effectParams {
	/* padding-top: 1em; */
	padding-bottom: 0.9em;
	/* background-color: rgba(0, 0, 0, 0.6); */
}

.effectDetail .effectParams .color {
	display: inline-block;
	width: 1em;
	height: 1em;

	border: 1px solid white;
}

.effectDetail .effect--fix-me { /* nested effects */
	background: rgba(0, 0, 0, 0.35);
}

/*
 * Control Sets
 */

.controlSet {
	padding-bottom: 0.5em;
}

.controlEnvelope {
	display: inline-block;
	max-width: 30%;

	margin-right: 1%;
	background-color: rgba(255, 0, 0, 0.3);
}

.controlEnvelope:-nth-child(3) {
	clear: right;
}

.controlType {
	font-size: 0.9em;
	font-weight: bold;
}

.controlParams {
	font-size: 0.8em;
}

/*
 * Osc Summary
 */

.oscSummary ul {
	list-style: none;
	padding: 0;
}
