/*
 * Effect Sets
 */

.effects {
	height: 100%;
	padding-top: 1em;
	color: white;
	text-align: center;
}

.effects ul {
	list-style: none;
	padding: 0em 0.5em;
}

.effects ul ul {
	padding-bottom: 0.5em;
}

.effects svg {
	color: yellow;
	opacity: 0.9;
	line-height: 1em;
	/* margin-top: -5px; */
	margin-top: -0.2em;
}

/*
 * Effect Envelopes
 */

.effect {
	text-align: center;
	list-style: none;
	min-height: 2.5em;

	border-radius: 1px;
	background: rgba(0, 0, 0, 0.50);
} .effect:not(:last-child) {
	margin-bottom: 0.5em;
}

.effect:hover {
	background: rgba(0, 0, 0, 0.60);
}

.effect:hover > .effectToolbar {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.disabledEffect {
	opacity: 0.75;
}

.effectToolbar {
	line-height: 2.5em;
	padding: 0em 1em;
	background: rgba(0, 0, 0, 0.30);
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: relative;
	margin-bottom: 0.5em;
}

.effectToolbar .effectName {
	display: inline-block;
	width: 30%;
	text-align: left;
}

.effectToolbar .toolbarButtons {
	display: inline-block;
	width: 70%;
	text-align: right;
	padding: 0px 0px;
}

.effectToolbar .toolbarButtons button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 3.0em;
	line-height: 1em;
	border: none;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: none;
	min-width: 3em;
}

.toolbarButtons button:last-child {
	border-right-width: 0px;
}

.effect .effectParams {
	padding-bottom: 0.9em;
}

.effect .effectParams .color {
	display: inline-block;
	width: 1em;
	height: 1em;

	border: 1px solid white;
}

.effect .effect { /* nested effects */
	background: rgba(0, 0, 0, 0.35);
}

/*
 * Effect Edit Modal
 */

.edit {
	text-align: center;
}

.edit ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.editFields {
}

.editField label {
	margin: 1em;
}

.editField input {
}

/*
 * Control Sets
 */

.effectControls { /* wrapper under .effectEnvelope */

}

.controlSet {
	padding-bottom: 0.5em;
}

.controlEnvelope {
	display: inline-block;
	max-width: 30%;

	margin-right: 1%;
	background-color: rgba(255, 0, 0, 0.3);
}

.controlEnvelope:-nth-child(3) {
	clear: right;
}

.controlType {
	font-size: 0.9em;
	font-weight: bold;
}

.controlParams {
	font-size: 0.8em;
}
