.background {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 9999;

	background: rgba(0, 0, 0, 0.50);
}

.body {
	position: fixed;
	z-index: 10000;

	top: 50%;
	left: 50%;

	/* http://lynn.io/2014/02/22/modalin/ */
	transform: translate(-50%, -60%);
	max-height: calc(100vh - 100px);

	width: auto;
	max-width: 85vw;

	background: rgba(0, 0, 0, 0.80);

	border: 1px solid rgba(255, 255, 255, 0.65);
	border-radius: 4px;

	/* box-shadow: 0px 0px 5px #000; */

	padding: 2em 2em;

	text-align: center;
}