.header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 500;

	-webkit-app-region: drag;
	app-region: drag;

	/* top: 0.5em; */

	width: 100%;
	margin: 0.10em 0 0em 0em;

	 /*padding: 0 0em; */

	height: 3.5em;
	/*border: 1px solid red;*/

	font-size: 0.8em; /* affects height! */
	line-height: 2.5em;

	background: transparent;
	text-shadow: 1px 1px 0px black;

	transition: 0.4s transform;
} .header:before {
	position: absolute;
	display: block;
	content: '';
	z-index: -1;
	top: 0px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	/*width: 100%;*/
	/*height: 100%;*/
	background: rgba(0,0,0,0.55); /* 0.75 nice with blur */ /* 0.87 nice on iPhone */
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	/* background: none; */
	transition: 0.25s opacity;
	opacity: 0.6;
} .header:hover:before {
	opacity: 1.0;
}

.header.disconnected:before {
	animation: reconnecting 1.5s ease-out 0s infinite alternate;
	/* transition: 0.5s background-color; */
}

.header.hidden {
	transform: translateY(-5em);
}

@keyframes reconnecting {
	from {
		background: rgba(0, 0, 0, 0.7);
		/* background: inherit; */
	}
	to {
		background: rgba(180, 20, 20, 0.5);
	}
}

.header h1 {
	font-family: 'Dosis';
	float: left;
	margin: 0 0.5em;
	padding: 0;
	font-size: 1.3em;
	line-height: 2.6em;
	font-weight: bold;
	color: #fff;
	/*text-shadow: 1px 1px 15px #fff;*/

	display: flex;
	align-items: center;
}

.header h1 svg {
	font-size: 0.7em;
	opacity: 0.9;
	margin-right: 0.6em;
}

.header nav {
	float: right;
}

.header nav a {
	display: inline-block;
	/* height: 3.45em; */
	height: 3.45em;
	font-size: 1.0em;
	margin-top: 0.0em;
	/* line-height: 100%; */
	line-height: 3.0em;
	/* padding: 0 0.1em; */
	padding: 0 0.5em;
	min-width: 2.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	outline: 0;
	will-change: background-color;
	border-radius: 6px;
	cursor: default;
	display: inline-flex;
	align-items: center;
	transition: 0.4s background;
	border-radius: 0px;
} .header nav a.active {
	/*background: rgba(255,255,255,0.15);*/
	/* backgrou0d: rgba(0,0,0,0.5); */
	background: rgba(255,255,255,0.50);
	background: rgba(0,0,0,0.45);
	/* border-radius: 0px; */
	/* border-bottom-left-radius: 0; */
	/* border-bottom-right-radius: 0; */
	/*border-left: 1px solid rgba(255,255,255,0.30);*/
	/*border-right: 1px solid rgba(255,255,255,0.30);*/
}

@media(hover: hover) {
	.header nav a:hover {
		/* background: rgba(255,255,255, 0.9); */
		/* background: rgba(255,255,255,0.15); */
		transition: 0s background;
		background: rgba(0,0,0,0.3);
	}

	.header nav a.active:hover {
		background: rgba(255, 255, 255, 0.4);
	}
}

.header nav a svg {
	margin: 0 0.2em;
	padding: 0;
}

.header nav a span {
	margin: 0 0.2em;
	font-size: 1.1em;
}

.header nav a:hover svg,
.header nav a:active svg {
	/* color: black; */
	color: white;
}

.header nav .offButton:hover {
	background: rgba(255, 40, 40, 0.40);
}

@media(max-width: 320px) {
	.header nav a:not(.offButton) { display: none; }
}

@media(max-width: 550px) {
	.header nav a span {
		display: none;
	}
}

/* .header nav {
	display: none !important;
} */