input:not([type="file"]) {
    padding: 0.5em;
    text-shadow: none;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1px;

    color: white;

    background: none;
    outline: none;

    text-align: center;
    font-family: 'Dosis';
    font-size: 1.1em;
} input:not([type="file"]):focus {
    border: 1px solid rgba(255, 255, 255, 0.8);
}
