button { min-height: 2.9em; min-width: 2.9em; font-size: 0.80em; }

button, select, input {
    width: 100%;
}

button, select, input {
    padding: 0.5em;

    background: rgba(0, 0, 0, 0.8);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    /* border-radius: 4px; */

    font-family: 'Dosis', 'Helvetica Neue', arial, sans-serif;
    font-weight: bold;

    color: white;
    opacity: 1.0;

    outline: none;
    border: 1px solid transparent;

    font-size: 0.8em; /* todo: make this ui configurable */
}

button, select {
    padding: 1em;
}

button:hover {
    opacity: 1;
    /* background: rgba(128, 91, 91, 0.7); */
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.8);
} button:active {
    opacity: 0.7;
    transform: scale(0.97) translate(0px, 1px);
}

button[data-toggle] {
    /* border: 5px solid rgba(230, 0, 0, 0.7); */
    background: rgba(140, 0, 0, 0.8);
}

button[data-toggled] {
    /* border: 5px solid rgba(255, 255, 255, 0.8); */
    background: rgba(0, 150, 0, 0.8);
}

select {
    padding: 1em;
}

input::placeholder {
    font-style: italic;
    /* text-shadow: 0px 0px 0px #fff; */
    text-shadow: none;
    color: rgba(255, 255, 255, 0.6);
}

input {
    font-size: 2em;
}

input:not([type="file"]), textarea {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px;

    color: white;

    background: rgba(60, 60, 60, 0.3);
    outline: none;

    text-shadow: 1px 1px 0px #000;

    text-align: center;
} input:not([type="file"]):focus, textarea:focus {
    background: rgba(100, 100, 100, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

textarea {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}