@import '../../node_modules/basiccontext/dist/basicContext.min.css';
/* @import '../../node_modules/basiccontext/dist/themes/bright.min.css'; */
@import '../../node_modules/basiccontext/dist/themes/dark.min.css';
@import '../../node_modules/basiccontext/dist/addons/popin.min.css';

@import '../../node_modules/basicmodal/dist/basicModal.min.css';

@import '../../node_modules/preact-range-slider/assets/index.css';

@import "../../node_modules/rc-collapse/assets/index.css";

@import './forms';

@import url('https://fonts.googleapis.com/css?family=Dosis');

/* ::-webkit-scrollbar { display: none; } */

* {
  box-sizing: border-box;
  /* border-radius: 0 !important; */
  /* text-shadow: none !important; */
  /* box-shadow: none !important; */
}

/* canvas { will-change: transform; } */

html, body {
	height: 100%;
	width: 100%;

	padding: 0;
	margin: 0;

	font-family: 'Dosis', 'Helvetica Neue', arial, sans-serif;

	background: #111;
	color: white;
	text-shadow: 1px 1px 0px #000;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	user-select: none;
	overflow: hidden;
	cursor: default;

	background: transparent;

	border-radius: 5px;
}

#app {
	height: 100%;
	width: 100%;
	position: absolute;
	font-size: 1.1em;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	font-weight: normal !important;
}

#main {
	position: absolute;
	overflow: scroll;
	top: 3.1em; /* header height */
	top: 2.85em;
	bottom: 1px;
	left: 0px;
	right: 0px;

	margin-top: 1px;
	/* margin-top: 10px; */

	border-radius: 4px;

	width: 100%;
	padding: 0em 0.08em;
	/* margin: 0.2em; */

	/* border: 1px solid white; */
	transition: 0.2s transform, 0.5s margin-bottom;

	will-change: transform;
}

/* @media(max-width: 640px) {
	#main {
		padding: 0.5em !important;
		right: 0.5em;
	}
}
 */
#main.headerHidden {
	transform: translateY(-2.81em);
	/* margin-top: 10px; */
	margin-bottom: calc(-2.81em);
	/* top: 0em; */
}

@keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}

#main > * {
	/* padding: 0.05em; */
	animation: fade-in 0.2s ease-in-out;
	/* text-align: center; */
}

/* Third party overrides */

.basicContext {
	background-color: rgba(15,15,15,.85);
	border-radius: 8px;
}

.ace_editor, .ace_print-margin {
    /*background: rgba(0, 0, 0, 0.20) !important;*/
    background: rgba(0, 0, 0, 0.0) !important;
}

.ace_gutter {
    /*background: rgba(0, 0, 50, 0.4) !important;*/
	background: rgba(0, 0, 50, 0.0) !important;
}

.ace_active-line {
    background: rgba(0, 0, 0, 0.55) !important;
}

.rc-collapse {
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.2);
	text-align: left;
}

.rc-collapse > .rc-collapse-item {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.rc-collapse-header {
	color: rgba(255, 255, 255, 0.85) !important;
	outline: none;
}

.rc-collapse-content {
	background: transparent;
	color: white;
}

.rc-collapse .arrow {
	border-left: 4px solid white;
}