html, body {
	min-height: 100%;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	/*background: #FAFAFA;*/
	background: #111;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	/*color: #444;*/
	color: #ccc;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow: hidden;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
