@import '../../node_modules/basiccontext/dist/basicContext.min.css';
/*@import '../../node_modules/basiccontext/dist/themes/bright.min.css';*/
@import '../../node_modules/basiccontext/dist/themes/dark.min.css';
@import '../../node_modules/basiccontext/dist/addons/popin.min.css';

@import '../../node_modules/basicmodal/dist/basicModal.min.css';

@import '../../node_modules/preact-range-slider/assets/index.css';

@import './forms';

@import url('https://fonts.googleapis.com/css?family=Dosis');

::-webkit-scrollbar { display: none; }

* { box-sizing: border-box; }

html, body {
	height: 100%;
	width: 100%;

	padding: 0;
	margin: 0;

	font-family: 'Dosis', 'Helvetica Neue', arial, sans-serif;
	/* font-size: 1.1em; */

	background: #111;
	color: white;
	text-shadow: 1px 1px 0px #000;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	user-select: none;
	overflow: hidden;
	cursor: default;
}

#app {
	height: 100%;
}

#main {
	position: absolute;
	overflow: auto;
	top: 2.55em; /* header height */
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#main.shade {
    filter: blur(0.5px);
}

.basicContext {
	background-color: rgba(15,15,15,.85);
	border-radius: 1px;
}

.ace_editor, .ace_print-margin {
    /*background: rgba(0, 0, 0, 0.20) !important;*/
    background: rgba(0, 0, 0, 0.0) !important;
}

.ace_gutter {
    /*background: rgba(0, 0, 50, 0.4) !important;*/
	background: rgba(0, 0, 50, 0.0) !important;
}

.ace_active-line {
    background: rgba(0, 0, 0, 0.55) !important;
}
