.fileChooser, .editor {
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	top: 0px;
	bottom: 0em; /*3.5em;*/
	overflow: scroll;
	/*bottom: 3.5em;*/
	/*margin-top: 56px;*/
	/*padding: 0 1em;*/
	text-shadow: 1px 1px 7px black;
	background-color: rgba(0,0,0,0.8);
}

.fileChooser ul {
	padding: 0;
	list-style: none;
}

.fileChooser li {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.5em;
	cursor: pointer;
}
