.panes {
	display: flex;
	position: absolute;
	top: 0px;
	bottom: 0em;
	width: 100%;
}
.pane {
	flex: 1;
	height: 100%;
}

.fileChooser, .editor {
	position: relative;
	text-align: center;
	color: white;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-shadow: 1px 1px 7px black;
	background-color: rgba(0,0,0,0.7);
}

.fileChooser h2 {
	margin-bottom: 0;
}

.fileChooser ul {
	padding: 0;
	list-style: none;
}

.fileChooser li {
	font-weight: bold;
	padding: 0.5em;
	cursor: pointer;
}

.editor .editorHeader {
	height: 2em;
	line-height: 2em;
	font-weight: bold;
}

.editor .ace {
	position: relative;
	top: 0px; bottom: 0px;

	width: 100%;
	height: calc(100% - calc(2em/0.8));
	font-size: 0.8em;
	overflow: hidden;
}
